.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include mobile {
        flex-direction: column;
        row-gap: 30px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        @include mobile {
            display: contents;
        }
    }

    &__description {
        max-width: 593px;

        @include mobile {
            text-align: center;
            max-width: 500px;
            order: 2;
        }
    }

    &__image-wrapper {
        margin-right: 40px;

        @include tablet {
            max-width: 392px;
        }

        @include mobile {
            margin-right: 0;
            order: 1;
        }
    }
}