.accent {
    &--symbol {
        color: var(--color-accent);
    }

    &--word {
        position: relative;
        color: var(--color-dark-alt);

        &::before {
            @include abs-center;

            content: '';
            width: 150%;
            height: 110%;
            background-color: var(--color-accent);
            z-index: -1;
            rotate: -3deg;
        }

        &-alt {
            &::before {
                width: 120%;
            }
        }
    }

    &--img-wrapper, &--img-wrapper-alt, &--img-wrapper-quote {
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 5%;
            left: 5%;
            background-color: var(--color-accent);
            z-index: -1;
            rotate: 6deg;
        }

        &-alt {
            &::before {
                top: 5%;
                left: 12%;
            }
        }

        &-quote {
            &::before {
                top: 18%;
                left: 8%;

                @include tablet {
                    top: 15%;
                    left: 5%;
                }

                @include mobile {
                    rotate: 3deg;
                    top: 10%;
                    left: 4%;
                }
            }
        }
    }
}