.cases {
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 60px;

        @include mobile {
            flex-direction: column;
            row-gap: 20px;
            margin-bottom: 40px;
        }
    }

    &__header-description-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 40px;
        max-width: 546px;

        @include tablet {
            max-width: 400px;
        }

        @include mobile {
            align-items: center;
            text-align: center;
            row-gap: 30px;
        }
    }

    &__header-description {
        @include fluid-text(14, 18);

        font-weight: 600;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & > :nth-child(4n + 3), :nth-child(4n + 4) {
            flex-direction: row-reverse;
        }

        @include tablet {
            grid-template-columns: 1fr;

            & > :nth-child(2) {
                flex-direction: row-reverse;
            }

            & > :nth-child(3) {
                flex-direction: row;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;

        @include tablet {
            height: 310px;
        }
    }

    &__gallery {
        &-image {
            width: 50%;
            object-fit: cover;
        }

        &-description-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 36px;

            @include mobile {
                padding: 20px;
                row-gap: 15px;
            }
        }

        &-header {
            font-weight: 700;
            color: var(--color-dark-alt);
        }

        &-description {
            @include fluid-text(14, 14);

            @include mobile {
                font-size: 12px;
            }
        }

        &-link {
            @include fluid-text(12, 12);

            position: relative;
            display: inline-flex;
            align-items: center;
            align-self: end;
            height: 38px;
            font-weight: 700;
            color: var(--color-dark-alt);
            margin-top: auto;
            margin-right: 30px;

            &::after {
                content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDEyTDguNiAxMC41NUwxMi4xNSA3SDBWNUgxMi4xNUw4LjYgMS40NUwxMCAwTDE2IDZMMTAgMTJaIiBmaWxsPSIjMjQzMzQyIi8+Cjwvc3ZnPgo=');
                position: absolute;
                margin-left: 120%;
                margin-top: 3px;
                transition-duration: var(--transition-duration);
            }

            @include hover {
                &::after {
                    margin-left: 130%;
                }
            }

            @include tablet {
                align-self: start;
            }
        }
    }
}