.mobile-overlay {
    width: 100%;
    height: 100%;
    margin-right: 0;
    padding: 20px;
    border: none;
    color: var(--color-gray);

    &:modal {
        max-width: 50%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        height: 28px;
    }
}