.section {
    padding-block: var(--section-padding-y);
    overflow-x: hidden;

    &:nth-child(even) {
        background-color: var(--color-light-alt);
    }

    &__header {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}