body {
    @include fluid-text(14, 16);

    font-family: var(--font-family-base);
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-gray);
    background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, .h1 {
    @include fluid-text(44, 64);
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-dark);
}

h2, .h2 {
    @include fluid-text(12, 12);
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-dark-alt);
}

h3, .h3 {
    @include fluid-text(18, 24);
    font-weight: 400;
    line-height: 1.3;
    color: var(--color-dark);
}