:root {
    --color-dark: #000;
    --color-dark-alt: #243342;
    --color-light: #fff;
    --color-light-alt: #FFFDF5;
    --color-accent: #FFD700;
    --color-gray: #616161;
    --color-gray-alt: #576F75;

    --border: 1px solid var(--color-dark);
    --border-radius: 8px;

    --font-family-base: 'Poppins', sans-serif;

    --container-width: 1240px;
    --container-padding-x: 20px;

    --section-padding-y: 80px;

    --button-height: 60px;

    --transition-duration: 0.2s;

    @include desktop {
        --section-padding-y: 60px;
    }
    
    @include mobile {
        --section-padding-y: 40px;
    }
}