@import
    'normalize',
    'fonts',
    'mixins',
    'media',
    'variables',
    'utils',
    'globals';

@import
    'blocks/header',
    'blocks/button',
    'blocks/section',
    'blocks/hero',
    'blocks/accent',
    'blocks/about-us',
    'blocks/mobile-overlay',
    'blocks/progress',
    'blocks/illuminate',
    'blocks/cases',
    'blocks/partners',
    'blocks/bright',
    'blocks/footer';